@charset "utf-8";

body{
	margin:0;
	font-family:"微软雅黑", Verdana, Geneva, sans-serif;
	}


.article-header{
	position:fixed;
	top:50px;
	left:4%;
	width:36%;
	}
.article-title{
	font-size:3em;
	color:#A88B1C;
	margin-top:0;
	}
.article-tags{
	font-size:16px;
	margin:0;
	padding:0;
	}
.article-tags>li{
	height:40px;
	line-height:40px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	list-style:none;
	}
.article-tags>.date:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_date_gray.png) no-repeat center;
	}
.article-tags>.people:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_people_gray.png) no-repeat center;
	}
.article-tags>.genre:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_genre_gray.png) no-repeat center;
	}
.article-tags>.location:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_location_gray.png) no-repeat center;
	}
.article-tags>.orgnization:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_orgnization_gray.png) no-repeat center;
	}

.article-content{
	margin:50px 60px 50px 44%;
	}
.article-content a{
	text-decoration:none;
	color:#A88B1C;
	font-weight:bold;
	}
.article-content p{
	line-height:2em;
	text-indent:2em;
	font-size:18px;
	}
.article-content li{
	margin:1em 0;
	}
.article-content figcaption{
	font-size:14px;
	margin:1em 0;
	font-style:italic;
	}
.article-content img{
	max-width:100%;
	}
.article-content .videoslide{
	display:inline-block;
	position:relative;
	}
.article-content .videoslide:before{
	content:"";
	width:60px;
	height:60px;
	background:url(../asset/video_tag.png) no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	}
.article-content .pptslide:before{
	content:"";
	width:60px;
	height:60px;
	background:url(../asset/ppt_tag.png) no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	}
.article-content .3dslide:before{
	content:"";
	width:60px;
	height:60px;
	background:url(../asset/3d_tag.png) no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	}
.article-content .fileslide:before{
	content:"";
	width:60px;
	height:60px;
	background:url(../asset/file_tag.png) no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	}
.article-content .reference{
	margin:20px 0;
	display:block;
	padding:10px;
	background:#eee;
	color:#333;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:normal;
	font-size:14px;
	position:relative;
	}
.article-content .reference:before{
	content:"";
	width:25px;
	height:25px;
	background:url(../asset/icon_reference.png) no-repeat;
	position:absolute;
	top: 50%;
	left:10px;
	margin-top: -12px;
	}
/*********about_info**********/
.about_info{
	
	}
.about_info p{
	line-height:1.8em;
	font-size:1em;
	text-indent:0;
	}

/*********幻灯片*************/

.slide-header{
	position:relative;
	margin:40px auto;
	border-bottom:#ccc 1px solid;
	max-width:690px;
	}
.slide-title{
	font-size:3em;
	color:#A88B1C;
	margin-top:0;
	text-align:center;
	}
.slide-tags{
	font-size:16px;
	text-align:center;
	padding:0;
	margin:20px 0;
	}
.slide-tags>li{
	display:inline-block;
	height:30px;
	line-height:30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin:0 10px;
	overflow:hidden;
	max-width:110px;
	}
.slide-tags>.date:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_date_gray.png) no-repeat center;
	}
.slide-tags>.people:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_people_gray.png) no-repeat center;
	}
.slide-tags>.genre:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_genre_gray.png) no-repeat center;
	}
.slide-tags>.location:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_location_gray.png) no-repeat center;
	}
.slide-tags>.orgnization:before{
	content:"";
	width:20px;
	height:20px;
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
	background:url(../asset/icon_orgnization_gray.png) no-repeat center;
	}
.slide-intro{
	font-size:16px;
	text-align:center;
	font-style:italic;
	color:#666;
	background:#efefef;
	padding:20px;
	margin:0;
	}
.all-slides{
	max-width:690px;
	margin:auto;
	}
.slide{
	text-align:center;
	margin:40px 0;
	}
.slide h3{
	font-size:14px;
	margin:8px 0;
	}
.slide img{
	max-width:100%;
	}
.slide .slide-description{
	font-size:14px;
	margin:8px 0;
	}